*{
   margin:0;
   padding:0;
   font-family:'Roboto Mono', Times, serif;
}
.negative{
background-color:#252324;
display:grid;
justify-content:center;
align-items: center;
}
.positive{
background-color:#252324;
display:grid;
justify-content:center;
align-items: center;
}
.container{
    display:grid;
    justify-content:center;
    align-items: center;
}
h1{
color:white;
}
.textarea{
display:flex;
justify-content:center;
color:white;
}
.text{
font-size:125%;
color:white;
}
